@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  /* Paleta de colores */
  --main-bg-color: #b7ded2;
  --letter: #f6a6b2;
  --div-bg-images: #f7c297;
  --div-bg-section: #ffecb8;
  --footer-bg: #86d0d1;
  --border-radius: 25px;
  overflow-x: hidden;
}

header {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.315);
  display: flex;
  flex-direction: column;
}

header > div.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.432);
  color: var(--main-bg-color);
  padding: 2rem;
}

/* 
    Para cuando el scroll pasa del video baja el div.main-header

    esto es algo que haremos con js más adelante
*/
.sticky {
  position: sticky;
  width: 100%;
  top: 0;
}

div.main-header > div.buttons-header > button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--footer-bg);
  color: white;
  font-size: 1.1em;
}

div.main-header > div.buttons-header > button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--footer-bg);
}

div.main-header > form > input {
  font-size: 1.1em;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  min-width: 40vw;
  border: none;
}

header > div.header-main-text {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2rem;
}

header > div.header-main-text > h2 {
  font-size: 3.8em;
  font-weight: 300;
}

header > div.header-main-text > h3 {
  font-size: 1.5em;
  font-weight: 300;
}

button.btn-products {
  border: 1px solid var(--footer-bg);
  padding: 1rem 1.4rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: var(--border-radius);
  font-size: 1em;
  color: white;
}

button.btn-products:hover {
  background-color: rgb(255, 255, 255);
  color: var(--footer-bg);
  cursor: pointer;
}

header > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

/* Fin HEADER */

/* MAIN */

/* Section Newest Products */
section#newest-products {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section#newest-products img {
  min-width: 15rem;
  max-width: 20rem;
  border-radius: var(--border-radius);
}

section#newest-products > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 2rem 8rem;
}

section#newest-products > div > h2 {
  font-size: 1.8em;
  font-weight: 300;
}

section#newest-products > div > .newest-products-text {
  font-size: 1.4em;
  font-weight: 300;
}

section#newest-products > div > .newest-products-text > button {
  border: 1px solid var(--footer-bg);
  margin: 1rem;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: var(--border-radius);
  font-size: 1em;
  color: black;
}

section#newest-products > div > .newest-products-text > button:hover {
  background-color: var(--footer-bg);
  color: white;
  cursor: pointer;
}

/* Section Categories */
section#categories {
  padding: 2rem;
  background-color: var(--main-bg-color);
}

section#categories img {
  width: 8rem;
}

section#categories > h2 {
  text-align: center;
  font-size: 3.8em;
  font-weight: 300;
}

section#categories > ul {
  display: flex;
  overflow-x: scroll;
  gap: 3rem;
}

section#categories > ul > li {
  list-style: none;
  text-align: center;
  padding: 2rem;
}

/* Fin Main */

footer {
  background-color: #004445;
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer > h2 {
  font-size: 2.8em;
  font-weight: 400;
}

.enterprise-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

div.social-media > ul,
div.legal > ul {
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

div.legal > ul > li:hover {
  cursor: pointer;
  border: 1px solid black;
}

li {
  list-style: none;
  padding: 5px;
}

.social-icon {
  width: 2rem;
}
