.cardproduct {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 15rem;
	height: 23rem;
	border-radius: 15px;
	border: 1px solid var(--black);
	box-shadow: 0px 4px 4px var(--black-2);
	font-size: 18px;
	font-weight: bold;
	background-color: var(--white);
	background-image: url('https://www.transparenttextures.com/patterns/worn-dots.png');
}

.card__img {
	height: 12rem;
	min-width: 13rem;
	border-radius: 0.5rem;
	margin-top: 1.3rem;
}

.card__title {
	text-align: center;
	font-size: 1rem;
	padding: 1rem 0 0.2rem;
}
.card__price {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0.8rem;
}

/*.card__btn {
	border: 1px solid grey;
	border-radius: 8px;
	text-align: center;
	color: var(--lightGrey);
	background-color: var(--black-2);
	font-size: 1.2rem;
	margin-top: 2rem;
	padding: 0.3rem 0;
	transition: 0.2s;
}

.card__btn:hover {
	color: var(--green);
	transform: scale(0.8);
}*/

.card-icon-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-icon-box i {
	position: relative;
	width: 45px;
	height: 45px;
	font-size: 1.4em;
	display: grid;
	place-items: center;
	color: var(--white);
	margin: 0.5rem 1rem 2.5rem;
	padding-top: 0.1rem;
	border: 2px solid var(--white);
	border-radius: 50%;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	background-color: var(--darkGrey);
	transition: 0.3s ease;
}

.card-icon-box i:hover {
	border: 3px solid;
	border-color: var(--green);
	color: var(--white);
	box-shadow: none;
	background-color: var(--darkGrey);
	transform: scale(0.8);
}

/* ---- Mi estilo ---- */

@media screen and (max-width: 480px) {
	.carousel-container .carousel-product-name {
		text-align: center;
		font-size: 1.2rem;
		margin-top: 0.4rem;
		padding: 1rem 0 0.2rem;
	}
}
