.products-section {
	background-image: url(/home/marcomgcal/Escritorio/emuvi-front/emuvi/public/resources/images/emuvi-background-1.jpg);
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.products-main-title {
	background-color: transparent;
	font-size: 1.7rem;
}

.container_productlist {
	display: grid;
	grid-template-columns: repeat(auto-fill, 230px);
	gap: 40px;
	padding: 40px;
}
ul a {
	text-decoration: none;
	color: var(--darkGrey);
}
