.leaflet-container {
  width: 100vw;
  height: 25vh;
}

.private-profile {
  min-height: 100vh;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/public/resources/images/emuvi-background-1.jpg);
}

.container-profile {
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
}

/* Movil */
@media only screen and (max-width: 600px) {
  .private-profile {
    padding-top: 7rem;
  }

  .container-profile {
    gap: 3rem;
  }
}
