.categories {
  background-color: var(--lightGrey);
  width: 100%;
  padding-bottom: 4rem;
}

.categories .wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding: 50px 0;
}

.categories .wrapper .categories-container {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categories .wrapper .categories-container .category {
  width: 150px;
  height: 150px;
  position: relative;
}

.categories .wrapper .categories-container .category:hover img {
  animation: pulse 1.3s infinite;
  cursor: pointer;
}

.categories .wrapper .categories-container .category img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.categories .wrapper .categories-container .category h4 {
  text-align: center;
  font-weight: 700;
  color: rgb(54, 52, 52);
  margin-top: -15px;
  text-shadow: var(--box-shadow);
  font-size: 1.1rem;
}

.categories .wrapper h3 {
  font-size: 1.6rem;
  font-weight: 800;
  color: rgb(54, 52, 52);
  text-shadow: var(--box-shadow);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
