.categories {
	background-color: var(--lightGrey);
	padding-bottom: 6rem;
}

.categories-title {
	margin-top: 5rem;
}

.categories-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories-img {
	width: 10rem;
	max-width: 10rem;
	height: 10rem;
}

.categories-list a {
	font-size: 1.3rem;
	text-align: center;
	margin: -0.2rem 0.5rem;
}
