.categories {
	background-color: var(--lightGrey);
	padding-bottom: 6rem;
}

.categories-title {
	text-align: center;
	font-size: 1.7rem;
	font-weight: bold;
	margin-top: 5rem;
	margin-bottom: 3rem;
	color: var(--darkGrey);
}

.categories-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	list-style: none;
}

.categories img {
	width: 8.3rem;
	height: 8.3rem;
	margin: 0rem 1rem;
	transition: 0.3s;
}

.categories img:hover {
	transform: scale(1.3);
}

.categories-list a {
	font-size: 1.27rem;
	text-align: center;
	margin: -0.2rem 0.5rem;
	text-decoration: none;
}
