#popUp_background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.801);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#popUp_content {
  background-color: rgba(39, 39, 39, 0.8);
  padding: 4rem;
  max-width: 600px;
  max-height: 800px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
  overflow-y: scroll;
  color: var(--white);
}

#popUp_close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}
