@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,300;0,400;1,300&family=Poppins:wght@400;500;600;700&display=swap');

.footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lanzadera {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--black);
  border-top: 0.1rem solid white;
}
.red {
  font-size: 15px;
  background-color: transparent;
  padding: 1rem 3rem 1rem 3rem;
  border-color: transparent;
  color: var(--white);
}
.red:hover {
  color: greenyellow;
}
#enlacess {
  display: flex;
  background-color: var(--black);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
article ul li {
  padding: 10px;
  list-style: decimal-leading-zero;
}

article h3 {
  color: var(--green);
  font-family: ;
}
