@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.create_product {
  display: flex;

  padding: 2rem;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  background: #f2f3eb;
}

.form_newproduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.form_newproduct div {
  display: flex;
  flex-direction: column;
}
.form_newproduct input {
  height: 2rem;
  list-style: normal;
}
.form_newproduct select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png')
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 2rem;
}

.form_newproduct label {
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.input_submit {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.input_submit:hover {
  background: #474544;
  color: #f2f3eb;
}
button,
input,
select {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
  border: none;
  border-bottom: solid 2px #474544;
  background: none;
}
button {
  overflow: visible;
}
input {
  line-height: normal;
}
