.create_product {
  height: 85vh;
  display: flex;
  padding: 2rem;
  gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: url(/public/resources/images/emuvi-background-1.jpg);
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.form_newproduct {
  width: 30rem;
  height: 40rem;
  padding: 3rem 3.3rem;
  border-radius: 10px;
  border: solid 3px grey;
  color: var(--white);
  background-color: var(--lightGrey);
  box-shadow: 0 3px 8px var(--black-2);
}

.form_newproduct .create-product-form-title {
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 1.5rem;
  margin-bottom: 1.9rem;
  color: var(--black-2);
  background-color: transparent;
}

.form_newproduct div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.form_newproduct input {
  text-indent: 0.2rem;
  border-radius: 30px;
  border: 2px inset grey;
  margin: 0.5rem 0;
  padding-inline: 0.5rem;
  padding: 0.5rem;
  color: var(--black-2);
  background-color: white;
  inline-size: 100%;
  box-shadow: 5px 10px 5px rgb(221, 218, 218) inset;
}

.form_product_name::placeholder {
  color: var(--black-2);
  font-weight: 600;
}

.form_product_price::placeholder {
  color: var(--black-2);
  font-weight: 600;
}

.form_newproduct .select_product_category {
  text-indent: 0.5rem;
  border-radius: 30px;
  border: 2px inset var(--darkGrey);
  margin: 0.5rem 0;
  padding-inline: 0.5rem;
  padding: 0.2rem;
  color: var(--black-2);
  font-weight: 600;
  background-color: white;
  inline-size: 100%;
  box-shadow: 5px 10px 5px rgb(221, 218, 218) inset;
}

.form_newproduct .form_product_description {
  color: var(--black-2);
  font-weight: 600;
  height: 5rem;
}

.form_newproduct .form_product_description::placeholder {
  color: var(--darkGrey);
  font-weight: 600;
}

.form_newproduct select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png')
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 2rem;
}

/* --------- BUTTON ----------- */
.input_submit {
  display: inline-block;
  width: 100%;
  height: 3rem;
  max-width: auto;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 30px;
  border: 3px solid var(--white);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.2rem;
  font-family: inherit;
  vertical-align: middle;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.input_submit:hover {
  border-color: var(--green);
  border: 3px solid;
}
.input_submit::before,
.input_submit::after {
  content: '';
  position: absolute;
  background-color: var(--green);
}

/* top animation: */
.input_submit::before {
  height: 8px;
  width: 8px;
  left: -8px;
  top: 6px;
  transition: left 0.2s ease;
}

/* bottom animation: */
.input_submit::after {
  height: 8px;
  width: 8px;
  right: -10px;
  bottom: 6px;
  transition: right 0.2s ease;
}
.input_submit:hover::before {
  left: 14px;
}
.input_submit:hover::after {
  right: 14px;
}
.input_submit:hover::before,
.input_submit:hover::after {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
