.carousel-container .carousel-title {
	text-align: center;
	color: var(--darkGrey);
	font-size: 1.7rem;
	font-weight: bold;
	margin: 9rem 0 4.5rem 0;
}

.carousel-container .carousel-img {
	margin-top: 1rem;
	height: 12rem;
	min-width: 13rem;
	border-radius: 0.5rem;
}

.carousel-container .carousel-product-name {
	text-align: center;
	font-size: 1.2rem;
	padding: 1rem 0 0.2rem;
}

.carousel-container .carousel-product-price {
	text-align: center;
	font-size: 1.2rem;
}

.carousel-container .detalles-link {
	border: 1px solid grey;
	border-radius: 8px;
	text-align: center;
	color: var(--lightGrey);
	background-color: var(--black-2);
	font-size: 1.2rem;
	margin-top: 2rem;
	padding: 0.3rem 0;
	transition: 0.2s;
}

.carousel-container .detalles-link:hover {
	color: var(--green);
	transform: scale(0.8);
}

.swiper {
	width: 15rem;
	height: 23rem;
	margin-bottom: 7rem;
}

.swiper-slide {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	border-radius: 15px;
	border: 1px solid var(--black);
	box-shadow: 0px 4px 4px var(--black-2);
	font-size: 18px;
	font-weight: bold;
	background-color: var(--white);
	background-image: url('https://www.transparenttextures.com/patterns/worn-dots.png');
}

@media screen and (max-width: 480px) {
	.carousel-container .carousel-product-name {
		text-align: center;
		font-size: 1.2rem;
		margin-top: 0.4rem;
		padding: 1rem 0 0.2rem;
	}
}
