.containerlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 1rem;
}
h3 {
  text-align: center;
  color: rgb(54, 52, 52);
  font-size: 1.5rem;
  margin: 3rem;
}
li h3 {
  font-size: 3 rem;
  color: rgb(54, 52, 52);
  font-size: 1.5rem;
  margin: 3rem;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: rgb(54, 52, 52);
  font-size: 1.5rem;
  margin: 3rem;
}
li h2 {
  font-size: 3 rem;
}
