.footer-icons-container {
	display: flex;
	color: var(--white);
	flex-wrap: wrap;
	list-style: none;
	background: transparent;
}

#instagram-icon {
	font-size: 1.8rem;
	color: var(--lightGrey);
	padding: 0.3rem;
}

#facebook-icon {
	font-size: 1.8rem;
	color: var(--lightGrey);
	padding: 0.3rem;
}

#linkedin-icon {
	font-size: 1.8rem;
	color: var(--lightGrey);
	padding: 0.3rem;
}

#instagram-icon:hover {
	color: var(--green);
}

#facebook-icon:hover {
	color: var(--green);
}

#linkedin-icon:hover {
	color: var(--green);
}
